.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  margin: 10rem 0;

  .content {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    input {
      width: 50rem;
      font-size: 16px;
      padding: 12px;
      margin-bottom: 1rem;
      border: 1px solid black;
      border-radius: 5px;
    }

    .buttons {
      width: 50rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
    }

    button {
      width: 50rem;
      margin-bottom: 15px;
      background: none;
      color: #333;
      border: #333 solid 1px;
      height: 5rem;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        color: white;
        background: black;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .container {
    padding: 0 1.5rem;
    margin: 3rem 0;
    .content {
      width: 100%;
      max-width: var(--max-width);

      .title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
      }

      input {
        width: 100%;
        font-size: 16px;
        padding: 7px;
        margin-bottom: 1rem;
        border: 1px solid black;
      }

      .buttons {
        width: 100%;
        flex-direction: column;
      }

      button {
        width: 100%;
        margin-bottom: 15px;
        background: none;
        color: black;
        border-color: black;

        &:hover {
          color: white;
          background: black;
        }
      }
    }
  }
}
