.checkoutPayment {
  .title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
  }

  .selectOption {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 14px;

    label {
      font-size: 14px;
      margin-bottom: 5px;
      color: var(--text-color);
    }
  }

  .shippingOption,
  .paymentOption {
    font-size: 14px;
    border: 1px solid var(--border-color);
    background: transparent;
    width: 100%;
    display: inline;
    padding: 15px;
    border-radius: 4px;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 10px;
      font-size: 20px;

      &.check {
        display: none;
      }
    }

    &.active {
      color: white;
      background: black;

      svg {
        display: flex;
        color: white;

        &.check {
          display: flex;
        }

        &.noCheck {
          display: none;
        }
      }
    }
  }

  .shippingMethods,
  .paymentMethods {
    display: flex;
    flex-direction: column;

    .shippingOption,
    .paymentOption {
      font-size: 14px;
      border: 1px solid var(--border-color);
      background: transparent;
      width: 100%;
      display: inline;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        margin-right: 10px;
        font-size: 20px;

        &.check {
          display: none;
        }
      }

      &.active {
        color: white;
        background: black;

        svg {
          display: flex;
          color: white;

          &.check {
            display: flex;
          }

          &.noCheck {
            display: none;
          }
        }
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 20px;

    .formItem {
      width: 45%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label {
        font-size: 14px;
        margin-bottom: 5px;
        color: var(--text-color);
      }

      span.subtitle {
        font-size: 12px;
        margin-bottom: 5px;
      }

      input {
        padding: 5px;
        border: 1px solid var(--border-color);
        border-radius: 4px;
      }

      div {
        display: flex;
        align-items: center;
        label {
          font-size: 14px;
          color: var(--theme-color);
          margin-left: 10px;
        }
        input {
          width: 14px;
          height: 14px;
        }
      }
    }

    .formItemTitle {
      width: 100%;
      margin: 20px 0;
      font-size: 18px;
      font-weight: 600;
    }

    .errorMessage {
      display: flex;
      align-items: center;
      color: red;
      font-size: 12px;
      width: 100%;
      position: relative;
      svg {
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
        position: relative;
        margin-right: 10px;
      }
    }
  }

  .buttons {
    margin-top: 20px;
    button {
      margin-right: 20px;
      margin-bottom: 1rem;
      padding: 1rem;

      &.cinza {
        background: grey;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .checkoutPayment {
    .title {
      margin: 20px 0;
      font-size: 18px;
      font-weight: 600;
    }

    .selectOption {
      width: 45%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      font-size: 14px;

      label {
        font-size: 14px;
        margin-bottom: 5px;
        color: var(--text-color);
      }
    }

    .shippingOption,
    .paymentOption {
      font-size: 14px;
      border: 1px solid var(--border-color);
      background: transparent;
      width: 100%;
      display: inline;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        margin-right: 10px;
        font-size: 20px;

        &.check {
          display: none;
        }
      }

      &.active {
        color: white;
        background: black;

        svg {
          display: flex;
          color: white;

          &.check {
            display: flex;
          }

          &.noCheck {
            display: none;
          }
        }
      }
    }

    .shippingMethods,
    .paymentMethods {
      display: flex;
      flex-direction: column;

      .shippingOption,
      .paymentOption {
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: transparent;
        width: 100%;
        display: inline;
        padding: 15px;
        border-radius: 4px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          margin-right: 10px;
          font-size: 20px;

          &.check {
            display: none;
          }
        }

        &.active {
          color: white;
          background: black;

          svg {
            display: flex;
            color: white;

            &.check {
              display: flex;
            }

            &.noCheck {
              display: none;
            }
          }
        }
      }
    }

    .form {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      margin-bottom: 20px;

      .formItem {
        width: 45%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
          font-size: 14px;
          margin-bottom: 5px;
          color: var(--text-color);
        }

        span.subtitle {
          font-size: 12px;
          margin-bottom: 5px;
        }

        input {
          padding: 5px;
          border: 1px solid var(--border-color);
          border-radius: 4px;
        }

        div {
          display: flex;
          align-items: center;
          label {
            font-size: 14px;
            color: var(--theme-color);
            margin-left: 10px;
          }
          input {
            width: 14px;
            height: 14px;
          }
        }
      }

      .formItemTitle {
        width: 100%;
        margin: 20px 0;
        font-size: 18px;
        font-weight: 600;
      }

      .errorMessage {
        display: flex;
        align-items: center;
        color: red;
        font-size: 12px;
        width: 100%;
        position: relative;
        svg {
          width: 15px;
          height: 15px;
          top: 0;
          left: 0;
          position: relative;
          margin-right: 10px;
        }
      }
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      button {
        margin-right: 0px;
        width: 100%;
        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }
    }
  }
}
