.reOrderModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  .content {
    position: relative;
    border-radius: 4px;
    background: white;
    width: 40%;
    height: 50%;
    padding: 25px;
    overflow-y: scroll;

    .closeModal {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px;
      cursor: pointer;
    }

    .selectOption {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 15px;

      label {
        font-size: 14px;
        color: var(--theme-color);
        margin-left: 10px;
      }

      input {
        width: 14px;
        height: 14px;
      }
    }

    .selectProducts {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .title {
        font-size: 1.8rem;
        text-align: left;
        margin-bottom: 1.5rem;
      }

      form {
        .formItem {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 1rem;

          label {
            font-size: 1.6rem;
          }

          input {
            width: fit-content;
            margin-right: 1rem;
          }
        }
      }
    }

    .reOrderButton {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .reOrderModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .content {
      position: relative;
      border-radius: 4px;
      background: white;
      width: 100%;
      height: 100%;
      padding: 25px;
      overflow-y: scroll;

      .closeModal {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 25px;
        cursor: pointer;
      }

      .selectOption {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;

        label {
          font-size: 14px;
          color: var(--theme-color);
          margin-left: 10px;
        }

        input {
          width: 14px;
          height: 14px;
        }
      }

      .selectProducts {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .title {
          font-size: 1.8rem;
          text-align: left;
          margin-bottom: 1.5rem;
        }

        form {
          .formItem {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1rem;

            label {
              font-size: 1.6rem;
            }

            input {
              width: fit-content;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}
