.errorMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  transition: all 0.35s ease;

  svg {
    font-size: 2rem;
    fill: red;
    margin-right: 1.5rem;
  }
}
