.featureColumns {
  padding: 60px 0;
  .content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .column {
      display: flex;
      align-items: center;
      justify-content: center;

      .columnIcon {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1.5rem;
      }

      .info {
        .title {
          font-size: 1.4rem;
          margin-bottom: 0.5rem;
        }

        .text {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .featureColumns {
    padding: 0 1.5rem;
    padding-top: 3rem;
    .content {
      grid-template-columns: 1fr;

      .column {
        border: 1px solid var(--text-color);
        border-radius: 0.4rem;
        padding: 1.5rem 0;

        .columnIcon {
          width: 3rem;
          height: 3rem;
        }
      }

      .column:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
}
