.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    padding: 5rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    > *:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .countdown {
    .content {
      flex-direction: column;
      padding: 5rem 0;
      font-size: 1.8rem;
      font-weight: 500;
      text-align: center;
      > *:not(:last-of-type) {
        margin-right: 0rem;
        margin-bottom: 2rem;
      }
    }
  }
}
