.container {
  .productImage {
    width: 100%;
    height: auto;
    background: #d8d8d8;
    cursor: pointer;
    position: relative;
    transition: all 0.35s ease;

    img {
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover;
    }

    span {
      position: absolute;
      top: 15px;
      left: 15px;
      display: inline-block;
      color: white;
      background: var(--markup-color);
      padding: 5px 15px;
      font-size: 12px;
      text-transform: uppercase;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  .productName {
    font-weight: 400;
    font-size: 16px;
    margin: 1rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .productInstallments {
    color: var(--text-color-secondary);
    font-size: 1.4rem;
    min-height: 2.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .productColor {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;

    p {
      width: fit-content;
      margin-right: 1rem;
      font-size: 1.4rem;
      border: 1px solid;
      padding: 0.5rem;
      border-radius: 0.4rem;
      margin-bottom: 1rem;
    }
  }

  .productPrice {
    color: var(--markup-color);
    font-size: 14px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 720px) {
  .container {
    .productImage {
      height: 25rem;
    }

    .productColor {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0;

      p {
        width: fit-content;
        margin-right: 0;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        border: 1px solid;
        padding: 0.5rem;
        border-radius: 0.4rem;
      }
    }
  }
}
