.checkoutInformation {
  .title {
    font-size: 18px;
    margin: 2rem 0;
    font-weight: 600;
  }

  .avatar {
    display: flex;
    margin: 20px 0;

    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 4px;
    }

    .info {
      .nameEmail {
        font-size: 14px;
      }
      .logout {
        font-size: 14px;
        color: var(--blue);
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .formItem {
      width: 45%;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label {
        font-size: 14px;
        margin-bottom: 5px;
        color: var(--text-color);
      }

      span.subtitle {
        font-size: 12px;
        margin-bottom: 5px;
      }

      input {
        border: 1px solid var(--border-color);
        border-radius: 4px;
        padding: 8px;
      }

      div {
        display: flex;
        align-items: center;

        label {
          font-size: 14px;
          color: var(--theme-color);
          margin-left: 10px;
        }

        input {
          width: 14px;
          height: 14px;
        }
      }
    }

    .formItemCheckbox div {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;

      input {
        width: fit-content;
        margin-right: 10px;
      }
    }    
  }

  .buttons {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;    
    button {
      border: none;
      border-radius: 5px;
      padding: 10px 50px;
      transition: all 0.35s ease;

      &.cinza {
        background: var(--button-background);
        color: var(--button-color);
      }

      &.submitPerfilButton{
        background: var(--button-submit-background);
        color: var(--button-submit-color);
      }

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .checkoutInformation {
    .title {
      font-size: 18px;
      margin: 2rem 0;
      font-weight: 600;
    }

    .avatar {
      display: flex;
      margin: 20px 0;

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 4px;
      }

      .info {
        .nameEmail {
          font-size: 14px;
        }
        .logout {
          font-size: 14px;
          color: var(--blue);
          cursor: pointer;
          margin-top: 5px;
        }
      }
    }

    .form {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      margin-bottom: 20px;

      .formItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
          font-size: 14px;
          margin-bottom: 5px;
          color: var(--text-color);
        }

        span.subtitle {
          font-size: 12px;
          margin-bottom: 5px;
        }

        input {
          //padding: 5px;
          border: 1px solid var(--border-color);
          border-radius: 4px;
        }

        div {
          display: flex;
          align-items: center;
          label {
            font-size: 14px;
            color: var(--theme-color);
            margin-left: 10px;
          }
          input {
            width: 14px;
            height: 14px;
          }
        }
      }

      .formItemCheckbox div {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;

        input {
          margin-right: 10px;
        }
      }      
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    button {
      margin-right: 0px;
      width: 100%;
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }
  }
}
