.perfilPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .perfilData {
      width: 100%;
      margin: 60px 0;
      display: flex;
      align-items: flex-start;

      .perfilMenu {
        width: 20rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        p {
          font-size: 1.6rem;
          color: var(--text-color-secondary);
          cursor: pointer;
        }

        p.active {
          color: var(--markup-color);
          border-bottom: 2px solid var(--markup-color);
          padding-bottom: 5px;
        }

        p:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }

      .perfilContent {
        width: 100%;
        padding-left: 3rem;

        .top {
          margin-bottom: 3rem;
          p {
            font-size: 1.6rem;
            color: var(--text-color-secondary);
            margin-bottom: 15px;
          }
          span {
            font-size: 1.6rem;
            color: var(--markup-color);
          }
        }

        .perfilOrders {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;

          .perfilOrder {
            border: 1px solid var(--border-color);
            border-radius: 4px;
            padding: 20px;
            margin-bottom: 20px;
            cursor: pointer;

            p {
              font-size: 1.6rem;
              font-weight: 600;
              text-transform: uppercase;
              margin-bottom: 1rem;

              &:last-child{
                margin-bottom: 0rem;
              }

              span {
                font-size: 1.6rem;
                font-weight: bold;
                text-transform: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .perfilPage {
    .content {
      padding: 0 1.5rem;

      .perfilData {
        margin: 30px 0;
        flex-direction: column;

        .perfilMenu {
          flex: 100%;
          margin-bottom: 30px;
        }

        .perfilContent {
          padding-left: 0px;

          .perfilOrders {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
            .perfilOrder {
              border: 1px solid var(--border-color);
              border-radius: 4px;
              padding: 20px;
              margin-bottom: 10px;
              cursor: pointer;
              p {
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;

                span {
                  font-size: 1.6rem;
                  font-weight: normal;
                  text-transform: none;
                  color: var(--blue);
                }
              }
            }
          }
        }
      }
    }
  }
}
