.checkoutShipping {
  .title {
    margin: 2rem 0;
    font-size: 18px;
    font-weight: 600;
  }

  .shippingOption {
    font-size: 14px;
    border: 1px solid var(--border-color);
    background: transparent;
    width: 100%;
    display: inline;
    padding: 15px;
    border-radius: 4px;
    margin: 2rem 0;
    display: flex;
    align-items: center;
  }

  .shippingMethods,
  .paymentMethods {
    display: flex;
    flex-direction: column;

    .shippingOption,
    .paymentOption {
      font-size: 14px;
      border: 1px solid var(--border-color);
      background: transparent;
      width: 100%;
      display: inline;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        margin-right: 10px;
        font-size: 20px;

        &.check {
          display: none;
        }
      }

      &.active {
        color: white;
        background: black;

        svg {
          display: flex;
          color: white;

          &.check {
            display: flex;
          }

          &.noCheck {
            display: none;
          }
        }
      }
    }
  }

  .buttons {
    margin-top: 20px;
    button {
      margin-right: 20px;
      margin-bottom: 1rem;
      padding: 1rem;

      &.cinza {
        background: grey;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .checkoutShipping {
    .title {
      margin: 20px 0;
      font-size: 18px;
      font-weight: 600;
    }

    .shippingOption {
      font-size: 14px;
      border: 1px solid var(--border-color);
      background: transparent;
      width: 100%;
      display: inline;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .shippingMethods,
    .paymentMethods {
      display: flex;
      flex-direction: column;

      .shippingOption,
      .paymentOption {
        font-size: 14px;
        border: 1px solid var(--border-color);
        background: transparent;
        width: 100%;
        display: inline;
        padding: 15px;
        border-radius: 4px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          margin-right: 10px;
          font-size: 20px;

          &.check {
            display: none;
          }
        }

        &.active {
          color: white;
          background: black;

          svg {
            display: flex;
            color: white;

            &.check {
              display: flex;
            }

            &.noCheck {
              display: none;
            }
          }
        }
      }
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      button {
        margin-right: 0px;
        width: 100%;
        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }
    }
  }
}
