.cardProductsItem {
    header,
    .body .item {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 0.1fr;
        padding: 15px;
    }

    header {
        p {
            font-size: 1.4rem;
        }

        p:not(:first-of-type) {
            text-align: center;
        }
    }
    .body {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        .item {
            &:not(:last-of-type) {
                border-bottom: 1px solid var(--border-color);
            }
            .product {
                display: flex;
                align-items: center;

                .img {
                    width: 100px;
                    //height: 100px;
                    background: var(--border-color);
                    margin-right: 15px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                div {
                    .productName {
                        font-weight: 600;
                        font-size: 1.4rem;
                    }

                    .productDetails {
                        color: var(--text-color-secondary);
                        font-size: 1.4rem;
                        margin-top: 10px;
                    }
                }
            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: center;

                div {
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 30px;
                    user-select: none;
                    span {
                        padding: 0 20px;
                        cursor: pointer;
                    }
                    span.value {
                        cursor: default;
                        border-left: 1px solid var(--border-color);
                        border-right: 1px solid var(--border-color);
                    }
                }
            }

            .price {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--markup-color);
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                svg {
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .cardProductsItem {
        header,
        .body .item {
            display: flex;
            flex-direction: column;
        }

        header {
            display: none;
            p {
                font-size: 1.4rem;
            }

            p:not(:first-of-type) {
                text-align: center;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            border: 1px solid var(--border-color);

            .item {
                &:not(:last-of-type) {
                    border-bottom: 1px solid var(--border-color);
                }

                .product {
                    display: flex;
                    align-items: center;

                    .img {
                        width: 100px;
                        height: 100px;
                        background: var(--border-color);
                        margin-right: 15px;
                    }

                    div {
                        .productName {
                            font-weight: 600;
                            font-size: 1.4rem;
                        }

                        .productDetails {
                            color: var(--text-color-secondary);
                            font-size: 1.4rem;
                            margin-top: 10px;
                        }
                    }
                }

                .quantity {
                    margin: 0 0 3rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 7.5rem;
                    padding-left: 4rem;

                    div {
                        border: 1px solid var(--border-color);
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 30px;
                        user-select: none;
                        span {
                            padding: 0 20px;
                            cursor: pointer;
                        }
                        span.value {
                            cursor: default;
                            border-left: 1px solid var(--border-color);
                            border-right: 1px solid var(--border-color);
                        }
                    }
                }

                .price {
                    font-size: 1.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--markup-color);
                    margin-bottom: 2rem;
                }

                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    svg {
                        font-size: 2.5rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
