.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.3);
  overflow-y: scroll;
  height: 100vh;

  .content {
    width: 80%;
    height: 100vh;
    background: white;
    position: relative;
    overflow: scroll;

    .closeMobileMenuButton {
      position: absolute;
      color: white;
      width: 30px;
      height: 30px;
      right: 15px;
      top: 15px;
    }

    .user {
      padding: 20px;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .Iconuser {
        font-size: 30px;
        color: white;
      }
      p {
        font-size: 12px;
        margin-top: 8px;
        color: white;
      }
    }

    .mobileMenu {
      .mobileItem {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 1rem 0;

        p {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row;
          width: 100%;
          font-size: 1.6rem;
          padding: 0.5rem 1rem;

          svg {
            font-size: 2rem;
            margin-right: 0.5rem;

            &:nth-child(2) {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }

        .subMenu {
          margin-top: 1rem;
          width: 100%;
          border-top: 1px solid gray;
          p {
            color: var(--text-color-secondary);
            font-size: 1.4rem;
            font-weight: 500;
            border-bottom: 1px solid gray;
            padding: 1rem;
            &:last-child{
              border: none;
            }
          }
        }
      }
    }

    .divisor {
      border-bottom: 1px solid gray;
    }
  }
}
