.cartProductsTable {
  width: 100%;
  margin: 3rem 0;

  header,
  .body .item {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.1fr;
    padding: 15px;
  }

  header {
    p {
      font-size: 1.4rem;
    }

    p:not(:first-of-type) {
      text-align: center;
    }
  }

  .body {
    border: 1px solid var(--image-background);
    .item {
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--image-background);
      }
      .product {
        display: flex;
        align-items: center;

        .img {
          width: 100px;
          height: 100px;
          background: var(--image-background);
          margin-right: 15px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }

        div {
          .productName {
            font-weight: 600;
            font-size: 1.4rem;
          }

          .productDetails {
            color: var(--text-color-secondary);
            font-size: 1.4rem;
            margin-top: 10px;
          }
        }
      }

      .quantity {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          border: 1px solid var(--image-background);
          font-size: 14px;
          font-weight: 300;
          line-height: 30px;
          user-select: none;
          span {
            padding: 0 20px;
            cursor: pointer;
          }
          span.value {
            cursor: default;
            border-left: 1px solid var(--image-background);
            border-right: 1px solid var(--image-background);
          }
        }
      }

      .price {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--markup-color);
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        svg {
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--image-background);
    margin-top: 50px;
    padding: 15px;
    p {
      font-size: 1.6rem;
      font-weight: 600;
    }

    p:last-of-type {
      color: var(--markup-color);
      margin-left: 50px;
    }
  }

  .noProducts {
    font-size: 1.6rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 100px 0;

    button:not(:last-of-type) {
      background: transparent;
      color: var(--text-title-color);
      border-color: var(--text-title-color);
      margin-right: 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .cartProductsTable {
    width: 100%;
    margin: 3rem 0;

    header,
    .body .item {
      display: flex;
      flex-direction: column;
    }

    header {
      display: none;
      p {
        font-size: 1.4rem;
      }

      p:not(:first-of-type) {
        text-align: center;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      border: 1px solid var(--image-background);

      .item {
        &:not(:last-of-type) {
          border-bottom: 1px solid var(--image-background);
        }

        .product {
          display: flex;
          align-items: center;

          .img {
            width: 100px;
            height: 100px;
            background: var(--image-background);
            margin-right: 15px;
          }

          div {
            .productName {
              font-weight: 600;
              font-size: 1.4rem;
            }

            .productDetails {
              color: var(--text-color-secondary);
              font-size: 1.4rem;
              margin-top: 10px;
            }
          }
        }

        .quantity {
          margin: 3rem 0;
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            border: 1px solid var(--image-background);
            font-size: 14px;
            font-weight: 300;
            line-height: 30px;
            user-select: none;
            span {
              padding: 0 20px;
              cursor: pointer;
            }
            span.value {
              cursor: default;
              border-left: 1px solid var(--image-background);
              border-right: 1px solid var(--image-background);
            }
          }
        }

        .price {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--markup-color);
          margin-bottom: 2rem;
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          svg {
            font-size: 2.5rem;
            cursor: pointer;
          }
        }
      }
    }

    .total {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid var(--image-background);
      margin-top: 50px;
      padding: 15px;
      p {
        font-size: 1.6rem;
        font-weight: 600;
      }

      p:last-of-type {
        color: var(--markup-color);
        margin-left: 50px;
      }
    }

    .buttons {
      flex-direction: column;
      margin: 50px 0 100px 0;

      button:not(:last-of-type) {
        margin-right: 0;
      }

      button {
        margin: 0;
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}
