.homePage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .content {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .homePage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .content {
      width: 100%;
    }
  }
}
