.footer {
  background: var(--theme-color);

  .contentImg {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    padding-bottom: 2rem;
    img {
      width: 50%;
    }
    .right {
      text-align: right;
    }
  }

  .content {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;

    .left {
      width: 65%;

      .logoContent {
        display: flex;
        align-items: center;
        padding: 0 2rem 0 0;
      }

      .logo {
        width: 15rem;
        height: auto;
        margin-bottom: 2rem;
        margin-right: 2rem;
      }

      p {
        font-size: 14px;
        line-height: 25px;
      }

      img {
        margin-top: 20px;
        width: 545px;
        height: 38px;
      }
    }

    .right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;

      .column {
        .title {
          font-size: 16px;
          text-transform: uppercase;
        }

        .item {
          font-size: 14px;
          margin: 15px 0;
          cursor: pointer;

          svg {
            font-size: 2.5rem;

            &:first-of-type {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    .contentImg {
      flex-direction: column;
      text-align: center;
      img {
        padding: 1rem;
      }
      .right,
      .left {
        text-align: center;
      }
    }

    .content {
      padding: 2rem 0 0;
      flex-direction: column;
      align-items: center;

      .left {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem;

        .logoContent {
          padding: 2rem;
          flex-direction: column;
        }

        .logo {
          width: 50%;
          height: auto;
          margin-bottom: 20px;
        }

        p {
          text-align: center;
        }

        img {
          margin: 30px auto;
          width: 100%;
          height: auto;
        }
      }

      .right {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        margin: 2rem 0 0;

        .column {
          text-align: center;

          .item {
            margin: 15px 0;
          }
        }
      }
    }
  }
}
