.videosPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .content {
    width: 100%;
    padding: 5rem 0;
    max-width: var(--max-width);

    .title {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 2rem;
    }

    .text {
      font-size: 1.6rem;
    }

    .videos {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .videosPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content {
      width: 100%;
      padding: 3rem 1.5rem;
      max-width: var(--max-width);

      .title {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 2rem;
      }

      .text {
        font-size: 1.6rem;
      }

      .videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }
  }
}
