.contentPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .pageContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem 0;
      img {
        height: auto;
        width: 100%;
      }      
      h2{
        padding: 4rem 0;
        font-size: 3rem;
      }

      p {
        width: 100%;
        font-size: 1.6rem;
        text-align: left;
        margin-bottom: 1.5rem;
      }

      .banner {
        width: 100%;
        height: auto;
        margin: 5rem 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .contentPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 1.5rem;

    .content {
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      .pageContent {
        .banner {
          width: 100%;
          height: auto;
          margin: 3rem 0;
        }

        img {
          height: auto;
          width: 50%;
        }
      }
    }
  }
}
