.header {
  position: relative;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.35s ease;
  color: white;

  .content {
    width: 100%;
    max-width: var(--max-width);
    height: auto;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    .menu {
      display: none;
    }

    .top {
      width: 100%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .logo,
      .logoOthers {
        cursor: pointer;
        width: 12rem;
        height: auto;
      }

      .logoColor {
        display: none;
      }

      .otherPages {
        display: flex;
        li:not(:last-of-type) {
          margin-right: 20px;
        }

        li {
          color: inherit;
          font-size: 1.4rem;
          padding-bottom: 1rem;
          text-transform: uppercase;
          cursor: pointer;
          border-bottom: 2px solid transparent;

          &:hover {
            border-bottom: 2px solid var(--theme-color);
          }
        }
      }
    }

    .bottom {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.35s ease;

      .menu {
        display: flex;
        align-items: center;

        li {
          cursor: pointer;
          color: inherit;
          font-size: 2rem;
          cursor: pointer;
          position: relative;

          &.cartIcon span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -5px;
            right: -5px;
            background: red;
            color: white;
            border-radius: 2rem;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
          }

          svg {
            color: var(--text-color);
            font-size: 2rem;
          }

          &:not(:first-of-type) {
            margin-left: 10px;
          }
        }
      }

      .nav {
        display: flex;
        align-items: center;

        nav {
          display: flex;

          li:not(:last-of-type) {
            margin-right: 20px;
          }

          li {
            position: relative;
            color: inherit;
            text-transform: uppercase;
            font-size: 1.6rem;
            padding-bottom: 10px;
            font-weight: 500;
            cursor: pointer;
            border-bottom: 2px solid transparent;

            &:hover {
              border-bottom: 2px solid;
              border-color: inherit;
            }
          }

          ul {
            overflow: hidden;
            width: 20rem;
            display: none;
            position: absolute;
            top: 2.5rem;
            background: white;
            border-radius: 0.4rem;
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);

            li,
            li:hover {
              margin-right: 0 !important;
            }

            li {
              padding: 1rem 3rem;

              &:hover {
                color: white;
                background: var(--theme-color);
              }
            }
          }

          li.subMenu:hover ul {
            display: flex;
            flex-direction: column;
            border-bottom: 0 !important;
          }
        }

        .separator {
          margin: 0 20px;
        }

        .pages {
          li:not(:last-of-type) {
            margin-right: 20px;
          }

          li {
            color: inherit;
            font-size: 1.6rem;
            cursor: pointer;
            border-bottom: 2px solid transparent;

            &:hover {
              border-bottom: 2px solid var(--theme-color);
            }
          }
        }
      }
    }

    .mobileMenu {
      display: none;
    }
  }

  &:hover {
    color: black !important;
    background: white !important;

    .content {
      .top {
        height: 8rem;
        .logoColor {
          display: flex;
          cursor: pointer;
          width: 12rem;
          height: auto;
        }

        .logo {
          display: none;
        }
      }
    }
  }
}

.headerSticky {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  animation: stickyslide 0.5s ease;

  .content {
    width: 100%;
    max-width: var(--max-width);
    height: 90px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobileMenu {
      display: none;
    }

    .logo {
      width: 10rem;
      height: auto;
    }

    .nav {
      display: flex;
      align-items: center;

      nav {
        display: flex;
        li:not(:last-of-type) {
          margin-right: 20px;
        }

        li {
          position: relative;
          color: var(--theme-color);
          text-transform: uppercase;
          font-size: 16px;
          padding: 1rem 0;
          cursor: pointer;
          border-bottom: 2px solid transparent;

          &:hover {
            border-bottom: 2px solid var(--theme-color);
          }
        }

        ul {
          overflow: hidden;
          width: 20rem;
          display: none;
          position: absolute;
          top: 3rem;
          background: white;
          border-radius: 0.4rem;
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);

          li,
          li:hover {
            margin-right: 0 !important;
          }

          li {
            padding: 1rem 3rem;

            &:hover {
              color: white;
              background: var(--theme-color);
            }
          }
        }

        li.subMenu {
          border-bottom: 0 !important;
        }

        li.subMenu:hover ul {
          display: flex;
          flex-direction: column;
        }
      }

      .separator {
        margin: 0 20px;
      }

      .pages {
        li:not(:last-of-type) {
          margin-right: 20px;
        }

        li {
          color: var(--theme-color);
          font-family: "roboto-italic", sans-serif;
          font-size: 16px;
          padding-bottom: 10px;
          opacity: 0.5;

          &:hover {
            border-bottom: 2px solid var(--theme-color);
          }
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;

      li {
        cursor: pointer;
        color: inherit;
        font-size: 2rem;

        &:not(:first-of-type) {
          margin-left: 10px;
        }
      }

      li.cartIcon {
        position: relative;
        cursor: pointer;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -5px;
          right: -5px;
          background: red;
          color: white;
          border-radius: 2rem;
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1rem;
        }

        svg {
          color: var(--text-color);
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header,
  .headerSticky {
    .content {
      height: 60px;

      .top,
      .bottom,
      .nav,
      .menu,
      .logo {
        display: none;
      }

      .mobileMenu {
        padding: 0 1.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          .mobileHeaderLogo {
            width: 8rem;
            height: auto;
          }
        }

        .mobileCart {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: 1rem;
          font-size: 2rem;
          color: black;
          position: relative;
          cursor: pointer;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -5px;
            right: -5px;
            background: red;
            color: white;
            border-radius: 2rem;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
          }

          svg {
            color: var(--text-color);
            font-size: 3rem;
          }
        }

        .mobileMenuNav {
          width: 20px;
          height: 20px;
          fill: var(--theme-color);
        }
      }

      .logo {
        img {
          width: 90px;
        }
      }
    }
  }
}

@keyframes stickyslide {
  from {
    top: -90px;
  }

  to {
    top: 0px;
  }
}
