.cartProductsTable {
  width: 100%;
  margin: 3rem 0;

  header,
  .body .item {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.1fr;
    padding: 15px;
  }

  header {
    p {
      font-size: 1.4rem;
    }

    p:not(:first-of-type) {
      text-align: center;
    }
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // border-top: 1px solid var(--border-color);
    margin-top: 50px;
    padding: 15px;
    p {
      font-size: 1.6rem;
      font-weight: 600;
    }

    p:last-of-type {
      color: var(--markup-color);
      margin-left: 50px;
    }
  }

  .noProducts {
    font-size: 1.6rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 100px 0;

    button {
      background: white;
      border: 1px solid #6d7979;
      border-radius: 5px;
      color: black;
      font-size: 15px;
      margin-right: 1rem;
      transition: all 0.5s ease;
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .cinza {
      background: var(--button-background);
      color: var(--button-color);
    }
  
    .submit{
      background: var(--button-submit-background);
      color: var(--button-submit-color);
      border: 1px solid var(--button-submit-background);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .cartProductsTable {
    width: 100%;
    margin: 3rem 0;

    .total {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid var(--border-color);
      margin-top: 50px;
      padding: 15px;
      p {
        font-size: 1.6rem;
        font-weight: 600;
      }

      p:last-of-type {
        color: var(--markup-color);
        margin-left: 50px;
      }
    }

    .buttons {
      flex-direction: column;
      margin: 50px 0 100px 0;

      button:not(:last-of-type) {
        margin-right: 0;
      }

      button {
        margin: 0;
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}
