.productDetails {
  display: grid;
  grid-template-columns: 50% 50%;

  .productCarousel {
    position: relative;
  }

  .productInfo {
    padding-left: 2rem;

    .productName {
      color: var(--text-title-color);
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 45px;
      margin-bottom: 20px;
    }

    .productPrice {
      margin-bottom: 10px;
      .sale {
        font-size: 18px;
        text-decoration: line-through;
        color: var(--text-color);
      }
      .price {
        font-size: 25px;
        color: var(--markup-color);
        margin-left: 5px;
      }
    }

    .productInstallments {
      color: var(--text-color);
      font-size: 1.4rem;
    }

    .productDescription {
      color: var(--text-color);
      font-size: 1.4rem;
      line-height: 25px;
      margin: 20px 0;
    }

    .composition {
      color: var(--text-color);
      font-size: 1.4rem;
      line-height: 25px;
      margin: 20px 0;
    }

    .productColorSize {
      border-top: 1px solid var(--text-color);
      border-bottom: 1px solid var(--text-color);
      padding: 20px 0;

      > * {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--text-title-color);
        }

        .variantDisabled{
            background-color: #f2f2f2;
            color: #666 !important;
            svg {
              color: red !important;
            }
        }

        .ballsColor {
          display: flex;

          p {
            width: 40px;
            height: 40px;
            cursor: pointer;
            margin-right: 5px;
            position: relative;

            img{
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }

            &:focus {
              border: 1px solid black;
            }

            svg {
              color: green;
              position: absolute;
              top: -10px;
              left: 28px;
              width: 18px;
              height: auto;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .numberSize {
          display: flex;

          p {
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            color: black;
            font-size: 1.4rem;
            width: 40px;
            height: 40px;
            border: 1px solid var(--text-color-secondary);
            border-radius: 50%;
            margin-right: 5px;
            position: relative;
            svg {
              color: green;
              position: absolute;
              top: -10px;
              left: 28px;
              width: 18px;
              height: auto;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }

        > div {
          font-size: 1.4rem;
        }

        .inputQuantity{
          width: 50%;
        }

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }

      .productQuantity {
        div {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid var(--text-title-color);
          padding: 8px;

          span {
            font-size: 1.6rem;
            font-weight: 300;
            cursor: pointer;
            flex: 1;
            user-select: none;

            &.value {
              cursor: default;
              text-align: center;
            }

            &:last-of-type {
              text-align: right;
            }
          }
        }
      }
    }

    .productStock {
      display: flex;
      align-items: flex-end;
      padding: 20px 0;

      p {
        font-weight: 600;
        text-transform: uppercase;
        &.warning {
          font-size: 14px;
          text-transform: none;
          font-weight: 400;
          margin-left: 5px;
          span {
            color: var(--markup-color);
          }
        }
      }
    }

    .productActions {
      padding: 20px 0;
      border-top: 1px solid var(--text-color);
      border-bottom: 1px solid var(--text-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        font-size: 1.4rem;
        display: flex;
        align-items: center;

        svg {
          font-size: 2rem;
          margin-left: 10px;
          cursor: pointer;
        }
      }

      button {
        padding: 10px;
        width: 50%;
      }
    }

    .productShipping {
      padding: 20px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid var(--text-color);

      input {
        width: 50%;
        height: 40px;
        padding-left: 10px;
        border-radius: 0;
        border: 1px solid var(--text-title-color);
      }

      button {
        border-radius: 0;
        padding: 10px;
        width: 50%;
      }

      .shippingMethods {
        margin-top: 1rem;
        width: 100%;

        .shipping {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          width: 100%;

          p:nth-of-type(2) {
            margin-left: 1rem;
          }

          p:last-of-type {
            margin-left: auto;
          }
        }
      }
    }

    .productLink {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--text-color);
      cursor: pointer;

      span {
        font-weight: 600;
        text-transform: uppercase;
      }

      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .productText {
      color: var(--text-color);
      font-size: 14px;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .productDetails {
    grid-template-columns: 1fr;

    .productCarousel {
      .image {
        height: 400px;
      }
    }

    .productInfo {
      padding: 1.5rem;

      .productActions {
        padding: 20px 0;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          display: flex;
          img {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            cursor: pointer;
          }
        }

        button {
          padding: 10px;
          width: fit-content;
        }
      }
    }
  }
}
