.orderViewer {
	display: flex;
	align-items: center;
	justify-content: center;
	.content {
	  width: 100%;
	  max-width: var(--max-width);
	  margin: 2rem 0;
  
	  .title {
		font-size: 25px;
		font-weight: 600;
		span {
		  color: var(--blue);
		}
	  }
  
	  .subtitle {
		display: flex;
		flex-direction: column;
		font-size: 18px;
		margin: 20px 0;
		font-weight: 600;
  
		span {
		  max-width: 100%;
		  font-size: 16px;
		  font-weight: normal;
		  strong {
			color: var(--blue);
			font-weight: normal;
		  }
		}
  
		.pixCode {
		  margin-top: 10px;
		  word-wrap: break-word;
		}
  
		span.status {
		  width: fit-content;
		  padding: 5px 10px;
		  margin: 15px 0 0;
		  border-radius: 20px;
		  background: green;
		  color: white;
  
		  &.aguardando {
			background: rgb(153, 153, 26);
			color: white;
		  }
  
		  &.recusado {
			background: red;
			color: white;
		  }
		}
  
		a {
		  width: fit-content;
		  background: black;
		  margin: 15px 0;
		  padding: 5px 10px;
		  color: white;
		  font-weight: normal;
		  border-radius: 50px;
		}
  
		img {
		  margin: 15px 0;
		  width: 150px;
		  height: 150px;
		}
	  }
  
	  .products {
		border: 1px solid var(--border-color);
  
		.item {
		  display: grid;
		  grid-template-columns: repeat(3, 1fr);
		  padding: 15px;
  
		  &:not(:last-of-type) {
			border-bottom: 1px solid var(--border-color);
		  }
		  .product {
			display: flex;
			align-items: center;
  
			.img {
			  width: 100px;
			  background: var(--border-color);
			  margin-right: 15px;
  
			  img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			  }
			}
  
			div {
			  .productName {
				font-weight: 600;
				font-size: 14px;
			  }
			  .productDetails {
				color: var(--blue);
				font-size: 14px;
				margin-top: 10px;
			  }
			}
		  }
  
		  .quantity {
			display: flex;
			align-items: center;
			justify-content: center;
  
			span.value {
			  cursor: default;
			  font-size: 18px;
			}
		  }
  
		  .price {
			display: flex;
			align-items: center;
			justify-content: center;
			display: flex;
			font-size: 20px;
			color: var(--blue);
		  }
		}
	  }
	  .total {
		margin: 50px 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		p {
		  font-size: 20px;
		  font-weight: 600;
		  span {
			font-size: 20px;
			color: var(--blue);
		  }
		}
	  }
  
	  .reOrderButton {
		margin-bottom: 3rem;
	  }
	}
  }
  
  @media only screen and (max-width: 1024px) {
	.orderViewer {
	  .content {
		padding: 30px 15px;
  
		.products {
		  border: 1px solid var(--border-color);
  
		  .item {
			grid-template-columns: repeat(2, 1fr);
  
			&:not(:last-of-type) {
			  border-bottom: 1px solid var(--border-color);
			}
			.product {
			  grid-column-start: 1;
			  grid-column-end: 3;
			}
  
			.quantity {
			  margin-top: 10px;
			  justify-content: flex-start;
			}
		  }
		}
  
		.total {
		  margin: 30px 0;
		  grid-template-columns: repeat(1, 1fr);
		  p {
			margin: 5px 0;
		  }
		}
	  }
	}
  }
  