.categorySlider {
  padding: 30px 0;
  .content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .title {
        font-size: 30px;
      }

      .sliderArrows {
        .backIcon,
        .nextIcon {
          fill: var(--theme-color);
          width: 20px;
          height: 20px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .categorySlider {
    padding: 3rem 1.5rem;
  }
}
