.registerPage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: white;
  
	.content {
	  width: 100%;
	  display: grid;
	  grid-template-columns: 60rem 1fr;
  
	  .right {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100%;
  
		img {
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		}
	  }
  
	  .left {
		width: 100%;
		padding: 5rem;
		display: flex;
		height: 100vh;
		overflow-y: scroll;
		align-items: flex-start;
		flex-direction: column;
  
		.logo {
		  width: 20rem;
		  margin: 0 auto;
		  margin-bottom: 5rem;
		  cursor: pointer;
		}
  
		.title {
		  font-size: 2.5rem;
		  font-weight: 600;
		  margin-bottom: 5px;
		  display: flex;
		  align-items: center;
		}
  
		.subtitle {
		  font-size: 1.6rem;
		  font-weight: 300;
		  margin-bottom: 2rem;
		}
  
		form {
		  width: 100%;
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		  flex-wrap: wrap;
  
		  .formItem {
			width: 48%;
			margin-bottom: 25px;
			display: flex;
			flex-direction: column;
  
			label {
			  font-size: 1.6rem;
			  margin-bottom: 10px;
			  font-weight: 500;
			}
		  }
		}

		.statusInfo{
			font-size: 20px;
			text-align: center;
		}
  
		.buttons {
		  margin: 3rem 0;
		  width: 100%;
		  button {
			width: 100%;
			height: auto;
			font-size: 1.6rem;
		  }
		}
  
		.loginButton {
		  font-size: 1.6rem;
		  font-weight: 500;
		  a {
			color: var(--gray600);
			margin-left: 10px;
		  }
		}
	  }
	}
  }
  
  @media only screen and (max-width: 1024px) {
	.registerPage {
	  .content {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
  
		.right {
		  display: none;
		}
  
		.left {
		  width: 100%;
		  padding: 3rem 1.5rem;
  
		  .title {
			font-size: 2.5rem;
			font-weight: 600;
			margin-bottom: 5rem;
		  }
  
		  form {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
  
			.formItem {
			  width: 100%;
			  margin-bottom: 25px;
			  display: flex;
			  flex-direction: column;
  
			  label {
				font-size: 1.6rem;
				margin-bottom: 10px;
				font-weight: 500;
			  }
			}
		  }
  
		  .buttons {
			margin: 3rem 0;
			width: 100%;
			button {
			  width: 100%;
			  height: auto;
			  font-size: 1.6rem;
			}
		  }
  
		  .loginButton {
			font-size: 1.6rem;
			font-weight: 500;
			a {
			  color: var(--gray600);
			  margin-left: 10px;
			}
		  }
		}
	  }
	}
  }
  