.container {
  .pageTitle {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 5px;
  }

  .breadcrumb {
    display: flex;
    align-items: center;

    a,
    span {
      cursor: pointer;
      font-size: 14px;
      color: var(--text-color-secondary);
    }

    img {
      width: 10px;
      margin: 0 5px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .pageTitle {
      font-size: 35px;
    }
  }
}
