.addToCartModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  .content {
    width: 80%;
    height: 90%;
    position: relative;
    border-radius: 8px;
    background: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    .tools{
      position: absolute;
      z-index: 999;
      font-size: 2rem;
      bottom: 0;
      right: 0;
      background: #333;
      padding: 5px;
      opacity: 0.5;
      display: flex;
      flex-direction: column;
      color: #fff;
      a{
        margin: 1rem;
        cursor: pointer;
      }
    }    

    .productCloseModal {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 3rem;
      cursor: pointer;
    }

    .productSelect {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;

      .productImages {
        width: 50%;
        height: auto;
      }
    }

    .productInfo {
      width: 50%;
      padding-left: 2rem;

      .productName {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      .formItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        .colorSelector {
          margin-top: 1rem;
          .colorItem {
            padding: 0.5rem 1rem;
            border: 1px solid black;
            border-radius: 0.4rem;
            font-size: 1.4rem;
            cursor: pointer;
            display: inline-block;
            width: fit-content;
            margin-bottom: 1rem;

            &:not(:last-of-type) {
              margin-right: 1rem;
            }
          }

          .active {
            background: var(--theme-color);
            color: white;
          }
        }

        label {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }

        select {
          padding: 0.5rem;
          border-radius: 4px;
          font-size: 1.6rem;
        }

        .formInputs {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .formInputItem {
            width: 45%;
            border: 1px solid;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            padding: 1rem;
            margin-bottom: 1rem;

            span:nth-of-type(2) {
              width: 100%;

              input {
                padding: 0.7rem;
              }
              b:hover {
                cursor: pointer;
              }
            }

            .divider {
              border-left: 1px solid;
              height: 100%;
              margin: 0 1rem;
            }

            .noStock {
              font-style: italic;
              margin: 0;
              font-size: 1.4rem;
            }

            input {
              width: 100%;
              padding: 0;
              border: 0;
              outline: none;
            }
          }
        }
      }

      .noStock {
        font-size: 1.8rem;
        font-style: italic;
        margin-bottom: 2rem;
      }

      button {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .addToCartModal {
    overflow-y: scroll;
    align-items: flex-end;

    .content {
      width: 100%;
      height: 100%;
      padding: 5rem 1.5rem;

      .productCloseModal {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 3rem;
        cursor: pointer;
        z-index: 10;
      }

      .tools{
        display: none;
      }

      .productSelect {
        display: flex;
        flex-direction: column;

        .productImages {
          width: 100%;
          height: auto;
        }
      }

      .productInfo {
        width: 100%;
        padding-left: 0rem;
        margin-top: 2rem;

        .productName {
          font-size: 3rem;
          margin-bottom: 0.5rem;
        }

        form {
          margin-top: 2rem;

          .formItem {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            .colorSelector {
              margin-top: 1rem;
              .colorItem {
                font-size: 2rem;
                margin-bottom: 1rem;
                &:not(:last-of-type) {
                  margin-right: 1rem;
                }
              }

              .active {
                background: var(--theme-color);
                color: white;
              }
            }

            label {
              font-size: 2rem;
              margin-bottom: 1rem;
            }

            select {
              padding: 0.5rem;
              border-radius: 4px;
              font-size: 2rem;
            }

            .formInputs {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;

              .formInputItem {
                width: 100%;
                border: 1px solid;
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                padding: 1rem;
                margin-bottom: 1rem;

                .divider {
                  border-left: 1px solid;
                  height: 100%;
                  margin: 0 1rem;
                }

                input {
                  width: 100%;
                  padding: 0;
                  border: 0;
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
