.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .categoryBanner {
    width: 100%;
    height: auto;

    .desktop,
    .mobile {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    .mobile {
      display: none;
    }
  }

  .content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 0 5rem;

    .productsGrid {
      margin: 30px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .categoryBanner {
      .mobile {
        display: flex;
      }

      .desktop {
        display: none;
      }
    }

    .content {
      width: 100%;
      max-width: var(--max-width);
      padding: 0 1.5rem;

      .productsGrid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
