.creditCardsPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .perfilData {
      width: 100%;
      margin: 60px 0;
      display: flex;
      align-items: flex-start;

      .perfilMenu {
        flex: 30rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        a {
          font-size: 14px;
          color: var(--text-color-secondary);
        }

        a.active {
          color: var(--markup-color);
          border-bottom: 2px solid var(--markup-color);
          padding-bottom: 5px;
        }

        a:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }

      .perfilContent {
        width: 100%;
        display: flex;
        flex-direction: column;

        .addressGrid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 20px;

          .addressItem {
            position: relative;
            padding: 10px;
            border: 1px solid var(--border-color);
            display: flex;
            flex-direction: column;

            .addressItemActions {
              position: absolute;
              right: 5px;
              top: 5px;
              display: flex;
              align-items: center;

              svg {
                width: 20px;
                height: 20px;
                color: var(--markup-color);
                cursor: pointer;

                &:first-of-type {
                  margin-right: 10px;
                }
              }
            }
          }
        }

        .noCreditCards {
          font-size: 1.6rem;
        }

        .addAddressButton {
          width: fit-content;
          margin-top: 30px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .creditCardsPage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;

    .content {
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;

      .perfilData {
        width: 100%;
        margin: 3rem 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .perfilMenu {
          flex: 100%;
          margin-bottom: 3rem;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          a {
            font-size: 14px;
            color: var(--text-color-secondary);
          }

          a.active {
            color: var(--markup-color);
            border-bottom: 2px solid var(--markup-color);
            padding-bottom: 5px;
          }

          a:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }

        .perfilContent {
          width: 100%;
          display: flex;
          flex-direction: column;

          .addressGrid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            .addressItem {
              position: relative;
              padding: 10px;
              border: 1px solid var(--border-color);
              display: flex;
              flex-direction: column;

              .addressItemActions {
                position: absolute;
                right: 5px;
                top: 5px;
                display: flex;
                align-items: center;

                svg {
                  width: 20px;
                  height: 20px;
                  color: var(--markup-color);
                  cursor: pointer;

                  &:first-of-type {
                    margin-right: 10px;
                  }
                }
              }
            }
          }

          .noCreditCards {
            font-size: 1.6rem;
          }

          .addAddressButton {
            width: 100%;
            margin-top: 30px !important;
          }
        }
      }
    }
  }
}
