.banner-slider {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
}

.banner-slider:hover {
  .nextSlide,
  .prevSlide {
    display: flex;
    width: 3rem;
    height: 3rem;
    z-index: 0;
    background: white;
    border-radius: 5rem;
    padding: 0.5rem;
  }
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  overflow: hidden;

  .slide-img-desk {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  .slide-img-mobile {
    display: none;
  }
}

%btn-slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2%;
  height: 100%;
  display: none;
  transition: scale 2s ease;
  cursor: pointer;
  margin: 0 10px;
}

.prevSlide {
  left: 0;
  @extend %btn-slides;
}

.nextSlide {
  right: 0;
  @extend %btn-slides;
}

.indicator {
  position: absolute;
  bottom: 10rem;
  width: 100%;
  pointer-events: none;

  .content {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    span {
      font-size: 1.2rem;
      font-weight: 500;
      color: transparent;

      transition: all 0.35s ease;

      &.select {
        color: white;
      }
    }

    #marker {
      position: absolute;
      top: 0;
      width: 3px;
      height: 0;
      background: rgba(0, 0, 0, 0.3);
      left: 3rem;
      transition: all 0.5s ease;
      border-radius: 20px;
      z-index: 2;
    }

    #marker-background {
      position: absolute;
      width: 3px;
      height: 100%;
      background: white;
      left: 3rem;
      z-index: 1;
      border-radius: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .slide {
    .slide-img-desk {
      display: none;
    }

    .slide-img-mobile {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  .banner-slider:hover {
    .nextSlide,
    .prevSlide {
      display: flex;
      width: 3rem;
      height: 3rem;
      background: white;
      border-radius: 5rem;
      padding: 0.5rem;
    }
  }

  .prevSlide,
  .nextSlide {
    display: flex;
    width: 3rem;
    height: 3rem;
    background: white;
    border-radius: 5rem;
    padding: 0.5rem;
  }

  .indicator {
    display: none;
  }
}
