.productSlider {
  position: relative;

  .slick-list {
    width: 100% !important;
  }

  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    padding: 0;
    color: #333;
    background: none;
    border-radius: 100px;
    top: 40%;
    border: 0;

    &::before {
      color: var(--markup-color);
      font-size: 30px;
    }
  }

  .slick-arrow.slick-prev {
    left: 5px;
    z-index: 2;
  }

  .slick-arrow.slick-next {
    right: 15px;
  }

  .productSlide, .slick-slide {
    & > div{
      width: 100%;
      position: relative;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .slick-dots.slick-thumb {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 2;
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    padding-inline-end: 0px;
    bottom: unset;

    li {
      margin: 0;
      width: auto;
      height: auto;
      margin-right: 10px;

      .thumb-img {
        width: 90px;
        height: 120px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }

      &.slick-active {
        border: 1px solid var(--markup-color);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .productSlider {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    overflow: hidden;

    .slick-list {
      width: 100% !important;
    }

    .slick-arrow.slick-prev,
    .slick-arrow.slick-next {
      padding: 0;
      color: transparent;
      background: transparent;
      border-radius: 100px;
      top: 40%;
      border: 0;

      &::before {
        color: var(--markup-color);
        font-size: 30px;
      }
    }

    .slick-arrow.slick-prev {
      left: 5px;
      z-index: 2;
    }

    .slick-arrow.slick-next {
      right: 15px;
    }

    .productSlide {
      img {
        width: 100%;
        height: 60rem;
        object-fit: cover;
        object-position: top center;
      }
    }

    .slick-dots.slick-thumb {
      position: relative;
      grid-column-start: 1;
      grid-row-start: 2;
      height: 120px;
      width: 100%;
      display: flex !important;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      overflow-x: scroll;
      padding-inline-end: 0px;
      bottom: unset;

      li {
        margin: 0;
        width: auto;
        height: auto;
        margin-right: 10px;

        .thumb-img {
          //width: 90px;
          //height: 90px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }

        &.slick-active {
          border: 1px solid var(--markup-color);
        }
      }
    }
  }
}
