.container {
  padding: 3rem 0 2rem;

  .pageTitle {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .breadcrumb {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    span {
      cursor: pointer;
      font-size: 16px;
      color: var(--text-color-secondary);
    }

    .title {
      cursor: pointer;
      color: var(--text-color-secondary);
      font-size: 14px;
      text-decoration: underline;
    }

    svg {
      width: 10px;
      height: 10px;
      margin: 0 5px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .pageTitle {
      font-size: 21px;
      line-height: 30px;
    }
  }
}
