.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;

  .content {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid var(--theme-color);

    .burguerMenu {
      display: none;
    }

    .logo {
      cursor: pointer;
      img {
        width: 10rem;
      }
    }

    .menu {
      display: flex;
      align-items: center;

      > *:not(:last-child) {
        margin-right: 2rem;
      }

      li {
        list-style: none;
        width: fit-content;
        height: auto;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          background: black;
          color: white;
          border-radius: 0.4rem;
        }
      }

      .logoutIcon {
        color: var(--text-color);
        font-size: 2rem;
        cursor: pointer;
      }

      .cartIcon {
        position: relative;
        cursor: pointer;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -5px;
          right: -5px;
          background: red;
          color: white;
          border-radius: 2rem;
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1rem;
        }

        svg {
          color: var(--text-color);
          font-size: 3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .header {
    padding: 0 1.5rem;

    .content {
      .burguerMenu {
        display: flex;
        font-size: 2rem;
      }

      .logo {
        cursor: pointer;
        img {
          width: 8rem;
        }
      }

      .menu {
        display: flex;
        align-items: center;

        > *:not(:last-child) {
          margin-right: 1rem;
        }

        li {
          display: none;
        }

        .cartIcon {
          position: relative;
          cursor: pointer;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -5px;
            right: -5px;
            background: red;
            color: white;
            border-radius: 2rem;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
          }

          svg {
            color: var(--text-color);
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
