.registerPage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: white;
  
	.content {
	  width: 100%;
	  max-width: var(--max-width);
	  display: grid;
	  grid-template-columns: 1fr;
  
	  .right {
		padding: 5rem;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
  
		.title {
		  font-size: 2.5rem;
		  font-weight: 600;
		  margin-bottom: 4rem;
		}
  
		form {
		  width: 100%;
		  display: flex;
		  align-items: center;
		  justify-content: space-between;
		  flex-wrap: wrap;
  
		  .formItem {
			width: 48%;
			margin-bottom: 25px;
			display: flex;
			flex-direction: column;
  
			label {
			  font-size: 1.6rem;
			  margin-bottom: 10px;
			  font-weight: 500;
			}
		  }
		}
  
		.buttons {
		  margin: 3rem 0;
		}
  
		.loginButton {
		  font-size: 1.4rem;
		  font-weight: 500;
		  a {
			color: var(--gray600);
			margin-left: 10px;
		  }
		}
	  }
	}
  }
  
  @media only screen and (max-width: 1024px) {
	.registerPage {
	  overflow-y: scroll;
  
	  .content {
		width: 100%;
		max-width: var(--max-width);
		display: grid;
		grid-template-columns: 1fr;
  
		.left {
		  height: fit-content;
		  font-size: 3rem;
		  padding: 3rem 0;
		}
  
		.right {
		  padding: 3rem 1.5rem;
		  display: flex;
		  overflow: none !important;
		  align-items: flex-start;
		  flex-direction: column;
  
		  .title {
			font-size: 2.5rem;
			font-weight: 600;
			margin-bottom: 3rem;
		  }
  
		  form {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
  
			.formItem {
			  width: 100%;
			  margin-bottom: 25px;
			  display: flex;
			  flex-direction: column;
  
			  label {
				font-size: 1.6rem;
				margin-bottom: 10px;
				font-weight: 500;
			  }
			}
		  }
  
		  .formCheckbox {
			display: flex;
			align-items: center;
			font-size: 1.6rem;
			font-weight: 300;
  
			label {
			  margin-left: 1rem;
			}
		  }
  
		  .buttons {
			width: 100%;
			margin: 3rem 0;
  
			button {
			  width: 100%;
			}
		  }
  
		  .loginButton {
			font-size: 1.6rem;
			font-weight: 500;
			a {
			  color: var(--gray600);
			  margin-left: 10px;
			}
		  }
		}
	  }
	}
  }
  