.orderPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;   
  }
}

@media only screen and (max-width: 720px) {
  .perfilPage {
    .content {
      padding: 0 1.5rem;      
    }
  }
}
