.videoProductsModal {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .videoProductsModal {
    position: fixed;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-end;

    .content {
      position: relative;
      border-radius: 1.5rem 1.5rem 0 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50%;
      background: white;
      overflow-y: scroll;
      padding: 1rem 1.5rem;

      .closeVideoProductModal {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        text-align: right;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        position: sticky;
        top: 0;
        margin-left: auto;
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 10rem;
        margin-bottom: 1rem;
      }

      .productsList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        .productsPrice {
          margin-top: auto;
        }
      }
    }
  }
}
