.productItemSkeleton {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 15px;
    align-items: center;
    width: 100% !important;

    .productImage {
        border-radius: 0.4rem;
        overflow: hidden;
        position: relative;

        > a {
            display: flex;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            cursor: pointer;
        }

        .productColors {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.6);
            padding: 1.2rem 0;

            .prevSlider,
            .nextSlider {
                height: 1.2rem;
                width: auto;
                cursor: pointer;
                z-index: 2;
                padding: 0 2rem;
            }
        }
    }

    .productLine {
        .productActions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: -6px;

            span {
                font-size: 1.2rem;
                font-family: "SF UI Text Semibold";
                font-weight: bold;
                color: #333333;
            }

            .actions {
                display: flex;
                align-items: center;

                > img,
                span,
                span img {
                    cursor: pointer;
                    margin-left: 1.5rem;
                    max-width: 20px !important;
                }
            }
        }
    }

    .productName {
        font-family: "SF UI Text Light";
        font-size: 1.4rem;
        color: #333333;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .productPrice {
        display: flex;
        gap: 1rem;

        span {
            margin-top: 1.5rem;
            font-size: 1.4rem;
            line-height: 1.6rem;
            height: 1.6rem;
            font-family: "SF UI Text Semibold";
            font-weight: bold;
            color: #333333;

            &.striked {
                text-decoration: line-through;
                color: lightgray;
            }
        }
    }

    .actionButton {
        flex: 1;
        display: flex;
        margin-top: 2rem;

        button {
            width: 100%;
            background: var(--theme-color);
            border: 0;
            border-radius: 4px;
            padding: 1rem 0;
            color: white;
            text-transform: uppercase;
            font-size: 1.4rem;
            margin-top: auto;
            cursor: pointer;
            transition: all 0.35s ease;

            &:hover {
                filter: opacity(0.8);
            }
        }
    }
}
