.trackingModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  .content {
    position: relative;
    border-radius: 4px;
    background: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    svg {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 25px;
      cursor: pointer;
    }

    .message {
      font-size: 18px;
      margin-bottom: 20px;

      span {
        font-weight: 600;
      }
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    td {
      text-align: center;
      padding: 10px;
      font-weight: 600;
      font-size: 14px;
    }

    td span {
      font-weight: normal;
      font-size: 12px;
      display: flex;
      flex-direction: column;
    }

    table {
      border-collapse: collapse;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .trackingModal {
    .content {
      width: 100%;
      height: auto;
      overflow-y: scroll;
      border-radius: 4px;
      padding: 3rem 1.5rem;

      .message {
        text-align: left;
        font-size: 18px;
        margin-bottom: 20px;

        span {
          font-weight: 600;
        }
      }
    }
  }
}
