.productList {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 30px auto;
}

.noProducts {
  font-size: 1.6rem;
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .noProducts {
    font-size: 1.6rem;
    width: 100%;
  }
}
