.addAddressModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;

  .content {
    background: white;
    width: 40%;
    height: 80%;
    position: relative;
    overflow-y: scroll !important;
    
    svg {
      width: 25px;
      height: 25px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
    .form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px;
      margin-bottom: 20px;

      .formItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        font-size: 16px;

        label {
          font-size: 14px;
          margin-bottom: 5px;
          color: var(--text-color);
        }

        span.subtitle {
          font-size: 12px;
          margin-bottom: 5px;
        }

        input {
          padding: 5px;
          border: 1px solid var(--border-color);
        }

        div {
          display: flex;
          align-items: center;
          label {
            font-size: 14px;
            color: var(--theme-color);
            margin-left: 10px;
          }
          input {
            width: 14px;
            height: 14px;
          }
        }

        .perfilPasswords {
          flex-direction: column;
          input {
            width: 100%;
            height: auto;
            padding: 5px;
            border: 1px solid var(--border-color);
            margin-bottom: 10px;
          }
          .changePasswordPerfilButton {
            width: 100%;
            margin-top: 10px;
          }
        }
      }

      .errorMessage {
        display: flex;
        align-items: center;
        color: red;
        font-size: 14px;
        width: 100%;
        position: relative;
        svg {
          width: 15px;
          height: 15px;
          top: 0;
          left: 0;
          position: relative;
          margin-right: 10px;
        }
      }
    }

    .submitPerfilButton {
      margin-top: 20px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .addAddressModal {
    .content {
      width: 90%;
      height: 90%;
      overflow-y: scroll;

      .form {
        .formItem {
          width: 100%;
        }
      }

      .submitPerfilButton {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}
