.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
