.accountDetailsPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .perfilData {
      width: 100%;
      margin: 60px 0;
      display: flex;
      align-items: flex-start;

      .perfilMenu {
        flex: 20rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        p {
          font-size: 1.6rem;
          color: var(--text-color-secondary);
          cursor: pointer;
        }

        p.active {
          color: var(--markup-color);
          border-bottom: 2px solid var(--markup-color);
          padding-bottom: 5px;
        }

        p:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }

      .perfilContent {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 30px;
        padding-left: 3rem;
        align-items: flex-start;

        .form {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          border: 1px solid var(--border-color);
          padding: 25px;
          flex: 50%;

          .formItem {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            label {
              font-size: 1.6rem;
              margin-bottom: 5px;
              color: var(--text-color); 
            }
 
            span.subtitle {
              font-size: 1.4rem;
			        margin-bottom: 20px;
            }
 
            input {
              border: 1px solid var(--border-color);
              font-size: 1.6rem;
              border-radius: 0.4rem;
              outline: none;
              padding: 12px 15px;
              width: 100%;
            }

            /*div {
              display: flex;
              align-items: center;

              label {
                font-size: 1.6rem;
                color: var(--theme-color);
                margin-left: 10px;
              }

              input {
                width: 14px;
                height: 14px;
              }
            }*/

            .perfilPasswords {
              flex-direction: column;
              input {
                width: 100%;
                height: auto;
                //padding: 5px;
                border: 1px solid var(--border-color);
                margin-bottom: 10px;
              }
            }
          }

          .submit{
            background: var(--button-submit-background);
            color: var(--button-submit-color);
            border: 1px solid var(--button-submit-background);
            padding: 1rem;
            margin-top: 20px;
            width: 100%;
          }

          .errorMessage {
            display: flex;
            align-items: center;
            color: red;
            font-size: 14px;
            width: 100%;
            margin: 1rem 0;
            svg {
              margin-right: 0.5rem;
            }
          }
        }

        .form:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 3;
        }

        .form:nth-child(2) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        .form:nth-child(3) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .accountDetailsPage {
    padding: 0rem 1.5rem;

    .content {
      width: 100%;
      max-width: var(--max-width);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;

      .perfilData {
        width: 100%;
        margin: 3rem 0;
        display: flex;

        flex-direction: column;

        .perfilMenu {
          flex: 100%;
          margin-bottom: 3rem;
          flex-direction: column;

          p {
            font-size: 14px;
            color: var(--text-color-secondary);
            cursor: pointer;
          }

          p.active {
            color: var(--markup-color);
            border-bottom: 2px solid var(--markup-color);
            padding-bottom: 5px;
          }

          p:not(:last-of-type) {
            margin-bottom: 20px;
          }
        }

        .perfilContent {
          display: flex;
          flex-direction: column;
          gap: 0px;
          padding-left: 0px;
          align-items: flex-start;

          .form {
            padding: 1.5rem;
            width: 100%;
            margin-bottom: 20px;

            .formItem {
              width: 100%;
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;
            }
          }

          .form:nth-child(1) {
          }

          .form:nth-child(2) {
            order: -1;
          }

          .form:nth-child(3) {
            height: 100%;
          }

          .submitPerfilButton {
            margin-top: 20px;
            width: 100%;
          }
        }
      }
    }
  }
}
