.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 10;
  background: white;

  .content {
    width: 100%;
    display: grid;
    grid-template-columns: 45rem 1fr;

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .left {
      width: 100%;
      padding: 0 3rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      .logo {
        width: 20rem;
        margin: 0 auto;
        margin-bottom: 2rem;
		cursor: pointer;
      }

      .title {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }

      .subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 2rem;
      }

      form {
        width: 100%;

        .formItem {
          width: 100%;
          margin-bottom: 25px;
          display: flex;
          flex-direction: column;

          label {
            font-size: 1.6rem;
            margin-bottom: 10px;
            font-weight: 500;
          }
        }
      }

      .formForgot {
        width: 100%;
        font-size: 1.6rem;
        text-align: center;

        a {
          color: var(--theme-color);
        }
      }

      .buttons {
        margin: 3rem 0;
        width: 100%;
        button {
          padding: 1rem;
          font-size: 1.6rem;
          width: 100%;
          height: auto;
        }
      }

      .loginButton {
        font-size: 1.4rem;
        font-weight: 500;
        a {
          color: var(--text-color);
          margin-left: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .loginPage {
    height: 100%;
    .content {
      grid-template-columns: 1fr;

      .right {
        display: none;
      }

      .left {
        width: 100%;
        padding: 0 1.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .title {
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 5px;
          display: flex;
          align-items: center;
        }

        .subtitle {
          font-size: 1.6rem;
          font-weight: 300;
          margin-bottom: 8rem;
        }

        form {
          width: 100%;

          .formItem {
            width: 100%;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;

            label {
              font-size: 1.6rem;
              margin-bottom: 10px;
              font-weight: 500;
            }
          }
        }

        .formForgot {
          width: 100%;
          font-size: 1.6rem;
          text-align: center;

          a {
            color: var(--theme-color);
          }
        }

        .buttons {
          margin: 3rem 0;
          width: 100%;
          button {
            padding: 1rem;
            font-size: 1.6rem;
            width: 100%;
            height: auto;
          }
        }

        .loginButton {
          font-size: 1.4rem;
          font-weight: 500;
          a {
            color: var(--text-color);
            margin-left: 10px;
          }
        }
      }
    }
  }
}
