.productPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .content {
    width: 100%;
    max-width: var(--max-width);

    .title {
      font-size: 2.5rem;
      margin: 2rem 0;
      font-weight: 500;
    }

    .relatedProducts {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5rem;
      margin: 3rem auto;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .productPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
      width: 100%;
      max-width: var(--max-width);

      .title {
        padding: 0 1.5rem;
      }

      .relatedProducts {
        padding: 0 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
    }
  }
}
